<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%=title %></title>
    </head>

    <body>
        <div id="userInfo">
            <div>이름: <span id="user_name"></span></div>
        </div>
        <div id="rooms"></div>
        <div>
            <form action="" accept-charset="UTF-8" name="room_info" id="room_info">
                <div>
                    <input type="text" placeholder="접속할 방 이름을 적어주세요" name="room_name" id="room_name"  maxlength="15" autofocus required/>
                    <button type="submit">참여하기</button>
                </div>
            </form>
        </div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
    
            $(document).ready(function() {
                socket.on('connect', function(data) {
                    socket.emit("get cookie");
                });
    
                socket.on("get cookie success", function(data) {
                    socket.user_name = data.user_name;
    
                    document.getElementById("user_name").innerText = socket.user_name;
                });
    
                $("#room_info").submit(function(event) {
                    console.log('서버에 접속할 방 정보를 보냅니다!');
                    event.preventDefault();
                    data = {
                        room_name: $("#room_name").val()
                    }
                    socket.emit("enter room", data);
                });
    
                socket.on("enter room success", function(data) {
                    location.href = "/room/"+data.room_name;
                });

                socket.on("connection fail", function() {
                    location.href = "/";
                });
                
            });
        </script>
    </body>
</html>