<html>

<head>
    <meta charset="utf-8" />
    <title> Openchat </title>
    <style>
        body {
            margin: 0px;
        }

        .title {
            position: static;
            width: 100%;
            height: 60px;
            background: gray;
            display: flex;
        }

        #list_area {
            position: relative;
            width: 100%;
            height: -webkit-calc(100% - 60px);
            height: -moz-calc(100% - 60px);
            height: calc(100% - 60px);
            background: skyblue;
        }

        .room_container {
            position: relative;
            width: 96%;
            height: 100px;
            margin-left: 2%;
            padding-top: 10px;
            display: block;
        }

        .room_container .room_button {
            position: relative;
            width: 100%;
            height: 100%;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            box-shadow: 2px 2px 4px #999999;
            -moz-box-shadow: 2px 2px 4px #999999;
            -webkit-box-shadow: 2px 2px 4px #999999;
        }

        .room_container .room_image {
            flex: none;

            width: 70px;
            height: 70px;
            margin-left: 10px;

            border: 1px solid blue;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
        }

        .room_container .room_name {
            flex: none;

            margin-left: 10px;
            
            font-size: 50px;
        }

        .padding {
            flex: auto;
        }

        .room_container .extra_info {
            flex: none;
            
            height: 70px;
            margin-right: 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .room_container .host_name {
            font-size: 23px;
        }

        .room_container .count {
            font-size: 23px;
        }

        .room_s {
            z-index: 2;
            position: fixed;
            width: 130px;
            height: 130px;
            display: block;
            background: black;
            left: -webkit-calc(100% - 140px);
            left: -moz-calc(100% - 140px);
            left: calc(100% - 140px);
            top: -webkit-calc(100% - 140px);
            top: -moz-calc(100% - 140px);
            top: calc(100% - 140px);

            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
        }

        .room_created {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0;

            border: 2px solid blue;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
        }

        #plus_image {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
        }
    </style>
    <link rel="stylesheet" href="/static/css/createRoom.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/enterRoom.css" type="text/css" />
<body style="margin: 0%;">
    <div class="title">
        <p style="font-size: 2em; margin: auto 0; margin-left:10px; min-width: 120px;">방 목록</p>
        <p style="margin-top: auto; color:white; margin-bottom: 10px; margin-left: 10px;">원하는 대화방을 찾거나 직접 대화방을 만들어 보세요.
        </p>
        <input type="button" value="로그아웃" style="margin-left: auto; width: 100px;">
    </div>
    <div id="list_area">
    </div>
    <aside id="fixed_area">
        <div class="room_s">
            <button class="room_created"><img src="/static/img/plus.png" alt="" id="plus_image"
                    onclick="createRoom_PopUp(true);"></button>
        </div>
        <div id="backgroundCover"></div>
        <div class="pop-up" id="createRoom">
            <article class="container">
                <section class="main_container">
                    <header>
                        Create Room
                    </header>
                    <section class="content">
                        <div class="text_field">
                            <div class="name">
                                <input type="text" placeholder="방 이름" class="room_info" name="room_name" id="room_name"
                                    maxlength="15" autofocus required />
                            </div>
                            <div class="password">
                                <input type="password" placeholder="비밀번호" class="room_info" name="room_pw" id="room_pw"
                                    maxlength="15" />
                            </div>
                            <div class="concurrentUser">
                                <input type="number" placeholder="최대 접속자 수" class="room_info" name="room_maxUser"
                                    id="room_maxUser" required />
                            </div>
                        </div>
                        <div class="img_field">
                            <img src="/static/img/defaultRoom.png" alt="" class="room_image" id="room_image">
                            <input type="file" class="room_info" name="room_img" accept=".jpg,.jpeg,.png,.gif"
                                onchange="inputFileReturnImg(this,'room_image');">
                        </div>
                    </section>
                    <footer>
                        <div class="left">
                            <button class="button backBtn" onclick="createRoom_PopUp(false);">뒤로가기</button>
                        </div>
                        <div class="right">
                            <button class="button createBtn" onclick="createRoom('createRoom');"> 방 만들기!</button>
                        </div>
                    </footer>
                </section>
            </article>
        </div>
        <div class="pop-up" id="enterRoom">
                <article class="container">
                    <section class="main_container">
                        <header>
                            Enter Room
                        </header>
                        <section class="content">
                            <div class="text_field">
                                <div class="name">
                                    <div class="room_info" id="room_name">방 이름</div>
                                </div>
                                <div class="password">
                                    <input type="password" placeholder="비밀번호" class="room_info" name="room_pw" id="room_pw"
                                        maxlength="15" />
                                </div>
                                <div class="concurrentUser">
                                    <div class="room_info" id="room_maxUser">0/10</div>
                                </div>
                            </div>
                            <div class="img_field">
                                <img src="/static/img/defaultRoom.png" alt="" class="room_info" class="room_image" id="room_image">
                            </div>
                        </section>
                        <footer>
                            <div class="left">
                                <button class="button backBtn" onclick="enterRoom_PopUp(false);">뒤로가기</button>
                            </div>
                            <div class="right">
                                <button class="button createBtn" onclick="enterRoom('enterRoom');"> 방 접속하기!</button>
                            </div>
                        </footer>
                    </section>
                </article>
            </div>
    </aside>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/lobby.js"></script>
</body>
</head>

</html>