<html>

<head>
    <meta charset="utf-8">
    <title>Openchat</title>
    <style>
        .profile_picture {
            position: static;
            width: 100%;
            text-align: center;
            padding-top: 5%;
            display: flex;
            justify-content: center;
        }

        #picture {
            position: relative;
            border: 1px solid blue;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            width: 190px;
            height: 190px;
            left: 95px;
            margin-bottom: 2%;
        }

        #user_img{
            position: relative;
            border: 1px solid blue;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            width: 190px;
            height: 190px;
            right: 95px;
            margin-bottom: 2%;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
        }

        .profile_name {
            display: inline-block;
            position: relative;
            text-align: center;
            width: 100%;
        }

        #user_name {
            width: 30%;
            height: 7%;
            font-size: 1em;
            border: 0.1em solid gold;
            outline: none;
            transition: .4s cubic-bezier(0, 0.8, 0, 1);
        }

        .count {
            text-align: right;
            padding-right: 32%;
            font-size: 1em;
        }

        .outbox {
            width: 100%;
            height: 450px;
            background-color: #ff66;
            box-shadow: 0.2em 0.2em;
            position: static;
        }

        #submitBtn {
            width: 100px;
            height: 7%;
            font-size: 1em;
            font-weight: bold;
            background-color: #0096c6;
            border-radius: 10%;
            border: 0;
            border: 0.05em solid white;
        }

        button,
        button::after {
            -webkit-transition: all 0.3s;
        }

        button:hover {
            color: white;
        }

        .submitBtn::after {
            height: 100%;
            left: 0;
            top: 0;
            width: 0;
        }

        .submitBtn:hover:after {
            width: 100%;
        }

        .tools {
            height: 100px;
            position: relative;
            margin-left: 1%;
        }

        #logo {
            position: relative;
            margin: 1%;
        }
    </style>
</head>

<body style="margin: 0%">
    <div class="outbox">
        <img src="/static/img/logo.png" alt="" id="logo">
        <form action="" accept-charset="UTF-8" name="user_info" id="user_info">
            <div class="profile_picture">
                <img src="/static/img/base.png" alt="" id="picture" onclick="">
                <input type="file" id="user_img" name="user_img" accept=".jpg,.jpeg,.png,.gif"
                    onchange="inputFileReturnImg(this,'picture');">
            </div>
            <div class="profile_name">
                <input type="text" placeholder="프로필 이름" name="user_name" id="user_name" autofocus required>
                <button type="submit" id="submitBtn">시작하기 -></button>
            </div>
        </form>
        <div class="count">
        </div>
    </div>
    <div class="tools">
        <p style="font-size: 1.5em; font-weight: bold">OpenChat에서 사람들과의 대화에 참여하세요.</p>
        <span>사용할 사진과 이름만으로 간단한 프로필을 만들고 원하는 방을 찾아 쉽고 빠르게 대화에 참여하실 수 있습니다. 원하는 대화방 사진을 등록한 후 비밀번호를 설정하여 지인끼리의 대화를 즐길수도
            있거나, 최대 방 인원수를 제한해 원하는 규모의 대화방을 만드실 수 있습니다.</span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/login.js"></script>
</body>

</html>