<html>

<head>
    <meta charset="utf-8" />
    <title> Openchat </title>
    <style>
        body {
            height: 100%;
            display: flex;
        }

        main {
            background: skyblue;

            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }

        aside {
            background: #808080;

            width: 250px;

            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
        }

        header {
            background: #666666;
            height: 100px;

            box-shadow: -1px 1px 1px 1px #777777;

            flex: none;
            display: flex;
            align-items: center;
            z-index: 0;
        }

        header>#room_image {
            width: 120px;

            flex: none;
            display: flex;
            justify-content: center;
        }

        header>#room_image>img {
            width: 80px;
            height: 80px;
        }

        header>#room_name {
            font-size: 50px;
            color: white;
        }

        header>nav {
            width: 120px;
            height: 100%;

            flex: none;
            display: flex;
            align-items: inherit;
        }

        header>nav>.backBtn {
            height: 70%;
            margin: 15px;

            flex: 1 1 80px;
        }

        article {
            height: calc(100% - 180px);
            flex: auto;
            
            z-index: 1;
        }

        #chat_area {
            position: relative;
            height: 100%;

            overflow-y: auto;
            overflow-x: hidden;
        }

        #chat_area::-webkit-scrollbar {
            width: 8px;
        }

        #chat_area::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            
            background-color: #555;
        }

        #input_area {
            position: relative;
            height: 80px;

            box-shadow: -1px -1px 1px 1px #777777;

            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
        }

        #input_area>form {
            position: relative;
            width: 100%;
            height: 90%;
            margin: 0px;
            margin-left: 5px;
            margin-right: 5px;
            margin-block-end: 0px;

            display: flex;
        }

        #input_area>form>#input_text {
            position: relative;
            height: 100%;
            font-size: 1.5em;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #999;
            flex: auto;
        }

        #input_area>form>#input_button {
            position: relative;
            float: right;
            padding: 0;
            width: 100px;
            height: 100%;
            border-style: none;
            flex: none;
        }

        .user_img {
            margin: 0.5em;
            width: 3em;
            height: 3em;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            position: absolute;
        }

        .user_name {
            font-weight: bold;
            font-size: 1em;
            margin: 0.5%;
            left: 5em;
            position: absolute;
        }

        .message.box {
            overflow: hidden;
            width: 100%;
            position: relative;
            margin: 0.5em;
            margin-left: 0;
        }

        .message.content {
            top: 0.5em;
            padding-left: 7em;
            padding-right: 3em;
            position: relative;
            overflow-wrap: break-word;
        }

        #send_image {
            width: 100%;
            height: 100%;
        }

        aside>.list_info {
            box-shadow: 0px -1px 4px 1px #444444;
            height: 100px;

            flex: none;
        }

        aside>#user_list {
            flex: auto;

            overflow-y: auto;
            overflow-x: hidden;
        }

        .list_profile {
            position: relative;
            border-bottom-style: dotted;
            padding-bottom: 0.2em;
            height: 10%;
            display: block;
        }

        .profile_picture {
            margin: 0.5em;
            width: 75px;
            height: 75px;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            position: absolute;
            display: block;
        }

        .padding {
            flex: auto;
        }
    </style>
</head>

<body style="margin: 0%;">
    <main>
        <header id="top_bar">
            <div class="room_info" id="room_image">
                <img src=""> <!-- 방 대표 이미지-->
            </div>
            <div class="room_info" id="room_name">
                방 제목
            </div>
            <div class="padding"></div>
            <nav class="button_box">
                <button class="button backBtn" onclick="leaveRoom();">뒤로가기</button>
            </nav>
        </header>

        <article>
            <div id="chat_area">
            </div>
        </article>

        <div id="input_area">
            <form action="" accept-charset="UTF-8" name="message_info" id="message_info">
                <input type="text" placeholder="여기에 보낼 메세지를 입력하세요." name="input_text" id="input_text" maxlength="120"
                    autofocus required></textarea>
                <button type="submit" id="input_button"><img src="/static/img/airplane.png" alt=""
                    id="send_image"></button>
            </form>
        </div>
    </main>

    <aside id="list_area">
        <!-- 방 인윈 표시(프로필 이름,프로필 사진,총 인원수/최대 인원수) -->
        <div class="list_info" style="font-size: 1.3em;">현재 방에 참여 중인 사용자</div>
        <div id="user_list"></div>
    </aside>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/room.js"></script>
</body>

</html>