<html>

<head>
    <meta charset="utf-8" />
    <title> Openchat </title>
    <style>
        .top_bar {
            position: static;
            background: #666666;
            width: 80%;
            height: 8%;
        }

        #chat_area {
            position: relative;
            background: skyblue;
            width: 80%;
            height: 82%;
            float: left;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #list_area {
            position: absolute;
            background: #808080;
            width: 20%;
            height: 100%;
            left: 80%;
            top: -0.0000271828182846%;
            float: left;
        }

        #input_area {
            position: absolute;
            background: skyblue;
            border-style: dotted;
            border-width: 0px;
            border-top-width: 2px;
            width: 80%;
            height: 10%;
            float: left;
            top: 90%;
        }

        #room_picture {
            margin: 0.7%;
            margin-left: 2%;
            width: 20%;
            height: 80%;
        }

        #room_name {
            font-size: 2em;
            color: white;
        }

        #back_button {
            float: right;
            margin: 0.3%;
            height: 80%;
        }

        #input_text {
            margin: 0.5%;
            width: 90%;
            height: 80%;
            font-size: 1.5em;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1% solid #999;
        }

        #input_button {
            float: right;
            margin: 0.5%;
            padding: 0;
            width: 8%;
            height: 80%;
            border-style: none;
        }

        .user_img {
            margin: 0.5em;
            width: 3em;
            height: 3em;
            border: 0.1em solid blue;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            position: absolute;
        }

        .user_name {
            font-weight: bold;
            font-size: 1em;
            margin: 0.5%;
            left: 5em;
            position: absolute;
        }

        .message.box {
            width: auto;
            float: left;
            position: relative;
            border-width: 2px;
            border-bottom: : 2px;
            border-color: blue;
            border-style: dashed;
        }

        .message.content {
            top: 0.5em;
            padding-left: 7em;
            padding-right: 3em;
            position: relative;
        }

        #chattime {
            padding-left: auto;
            position: relative;
        }

        #send_image {
            width: 100%;
            height: 100%;
        }

        .list_profile {
            border-bottom-style: dotted;
            padding-bottom: 0.2em;
            height: 8%;
        }
        .user_profile.user_name{
            font-size: 1.5em;
            margin: 0.5%;
            text-align: center;
            padding-top: 0.6em;
        }
    </style>
</head>

<body style="margin: 0%;">
    <div class="top_bar">
        <img src="" alt="" id=room_picture> <!-- 방 대표 이미지-->
        <span id="room_name"></span>
        <span><input type="button" value="뒤로가기" id="back_button" onclick="leaveRoom()"></span>
    </div>

    <div id="chat_area">
    </div>

    <div id="list_area">
        <!-- 방 인윈 표시(프로필 이름,프로필 사진,총 인원수/최대 인원수) -->
        <p style="font-size: 1.3em; border-style:double; border-width: 0px; border-bottom-width: 1.5px">현재 방에 참여 중인 사용자</p>
    </div>

    <div id="input_area">
        <form action="" accept-charset="UTF-8" name="message_info" id="message_info">
            <input type="text" placeholder="여기에 보낼 메세지를 입력하세요." name="input_text" id="input_text" maxlength="120"
                autofocus required></textarea>
            <button type="submit" id="input_button"><img src="/static/img/airplane.png" alt="" id="send_image"></button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/room.js"></script>
</body>

</html>